@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
//Color Palette
$white: #f9f9f9;
$purple: #5c2a9d;
$yellow: #f6d743;
$green: #21bf73;
$black: #333333;
$red: #d63447;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(#035aa6, #40bad5) no-repeat;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#body__title {
    color: $white;
    font-size: 3rem;
}
#form__input, #form__button {
    border: none;
}
form {
    display: flex;
    flex-direction: row;
}
#form__input {
    width: 40vw;
    height: 6vh;
    font-size: 1.75rem;
    padding-left: 0.75rem;
    color: lighten($color: $black, $amount: 10);
    background-color: $white;
}
#form__button {
    width: 3.6rem;
    height: 6vh;
    background: none;
    background-color: $white;
    font-size: 2rem;
    color: darken($color: $yellow, $amount: 3);
    transition: all 0.2s ease;
    &:hover {
        color: darken($color: $yellow, $amount: 20);
        cursor: pointer;
    }
}
#todosContainer {
    width: 100%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .completed {
        opacity: 0.5;
        .todosContainer__item__title {
        text-decoration: line-through;
        }
        transition: all 0.5s ease;
    }
    .deleted {
        @keyframes removeItem {
            0% {
                position: relative;
                opacity: 1;
            }
            100% {
                transform: translateX(20rem) rotateY(180deg);
                opacity: 0;
            }
        }
        animation-name: removeItem;
        animation: removeItem 3s ease forwards;
    }
    .todosContainer__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.60%;
        background-color: $purple;
        color: $white;
        min-width: 25%;
        min-height: 10%;
        @media screen and (max-width: 1049px) {
            min-width: 40%;
        }
        @media screen and (max-width: 445px) {
            min-width: 80%;
        }
        h3 {
            padding-left: 1%;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-color: saddlebrown;
            width: 25%;
            height: 100%;
            .fa-check, .fa-trash {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                cursor: pointer;
            }
            .fa-check {
                background-color: $green;
                &:hover {
                    background-color: darken($color: $green, $amount: 10);
                }
            }
            .fa-trash {
                background-color: $red;
                &:hover {
                    background-color: darken($color: $red, $amount: 10);
                }
            }
        }
    }
}